<main id="features">
    <section class="bg-[#F5F7FA] shadow part-one flex justify-center items-center p-4">
        <div>
            <h1 class="text-5xl text-gray-500 font-semibold">Lesson and insights</h1>
            <h1 class="text-5xl text-green-700 my-2 font-semibold">from 8 years</h1>
            <p class="bg-clip-text bg-gray-600  my-4 text-[0.7rem] font-bold
            ">Where to grow your business as a
                photographer: site or social media?</p>
            <button class="
            flex border px-6 py-2 border-hidden rounded bg-[#4CAF4F] text-white
            font-medium">Register</button>
        </div>
        <div>
            <img src="../../assets/img/one.svg" alt="">
        </div>
    </section>

    <section>
        <div class="text-center">
            <h1 class="text-[#4D4D4D] mt-4 text-3xl font-medium">Our Client</h1>
            <p class="text-gray-400 mb-4 mt-2 text-sm">We have been working with some Fortune 500+ clients</p>
        </div>

        <div class="flex justify-around my-2 flex-wrap cursor-pointer">
            <img src="../../assets/img/Logo.svg" alt="">
            <img src="../../assets/img/Logo (2).svg" alt="">
            <img src="../../assets/img/Logo (3).svg" alt="">
            <img src="../../assets/img/Logo (4).svg" alt="">
            <img src="../../assets/img/Logo (5).svg" alt="">
            <img src="../../assets/img/Logo (6).svg" alt="">
            <img src="../../assets/img/Logo (3).svg" alt="">

        </div>
    </section>

    <section class="relative">
        <div class="text-center">
            <h1 class="text-[#4D4D4D] mt-8 text-3xl font-medium">Manage your entire Community</h1>
            <h1 class="text-[#4D4D4D] text text-3xl font-medium">in a single system</h1>
            <p class="text-gray-400 mb-4 mt-2 text-sm">Who is Nextcent suitable for?</p>
        </div>

        <!-- box-1 -->
        <div class="flex  justify-around text-center flex-wrap ">
            <div class="relative shadow-md shadow-gray-100  p-8">
                <span class=" inline-block w-8 h-8 #E8F5E9]
                 rounded-tl-xl rounded-tr-md rounded-bl-md rounded-br-xl "></span>
                <img class="absolute top-8 right-36" src="../../assets/img/Vector (0).svg" alt="">
                <h1 class="text-[#4D4D4D] text text-3xl font-medium">Membership <br> Organisations</h1>
                <p class="text-gray-400 mb-4 mt-2 text-sm">Our membership management <br>
                    software provides full automation of <br>
                    membership renewals and payments</p>
            </div>

            <!-- box-2 -->

            <div class="relative shadow-md shadow-gray-100  p-8">
                <span class="inline-block w-8 h-8 #E8F5E9]
                rounded-tl-xl rounded-tr-md rounded-bl-md rounded-br-xl"></span>
                <img class="absolute top-[13%] left-[40%]" src="../../assets/img/Vector (1).svg" alt="">
                <h1 class="text-[#4D4D4D] text text-3xl font-medium">National <br> Associations</h1>
                <p class="text-gray-400 mb-4 mt-2 text-sm ">Our membership management <br>
                    software provides full automation of <br>
                    membership renewals and <br>
                    payments</p>
            </div>

            <!-- box-3 -->
            <div class="relative shadow-md shadow-gray-100  p-8">
                <span class="inline-block w-8 h-8 bg-[#E8F5E9]
                rounded-tl-xl rounded-tr-md rounded-bl-md rounded-br-xl"></span>
                <img class="absolute top-8 right-[50%]" src="../../assets/img/vector (2).svg" alt="">
                <h1 class="text-[#4D4D4D] text text-3xl font-medium">Clubs And <br> Groups</h1>
                <p class="text-gray-400 mb-4 mt-2 text-sm">Our membership management <br>
                    software provides full automation of <br>
                    membership renewals and payments</p>
            </div>
        </div>
    </section>
</main>