<main class="flex flex-col justify-center items-center" id="pricing">
    <section>
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-[#4D4D4D]  text-3xl font-medium">Caring is the new marketing</h1>
            <p class="text-gray-400 mb-4 text-sm ">The Nextcent blog is the best place to read about
                the latest membership insights, trends and more. See who's joining the community, read about how our
                community are increasing their membership income lot's more.</p>
        </div>

        <div class="flex flex-wrap justify-center items-center gap-8 mb-12">

            <!-- img-1 -->
            <div class="relative mb-8">
                <img src="../../assets/img/image 18.svg" alt="">
                <div class="w-[14rem] text-center border absolute bg-[#F5F7FA] px-4 shadow top-36 left-5">
                    <p class="text-gray-500 mb-4 text-sm font-medium ">Creating Streamlined Safeguarding Processes with
                        OneRen</p>
                    <p class="text-green-600 mt-4 font-medium flex gap-4 ml-14">Readmore <img
                            src="../../assets/img/green-arrow.svg" alt=""></p>
                </div>
            </div>

            <!-- img-2 -->
            <div class="relative mb-8">
                <img src="../../assets/img/image 19.svg" alt="">
                <div class="w-[14rem] text-center border absolute bg-[#F5F7FA] px-4 shadow top-36 left-5">
                    <p class="text-gray-500 mb-4 text-sm font-medium ">What are your safeguarding responsibilities and
                        how can you
                        manage them?</p>
                    <p class="text-green-600 mt-4 font-medium flex gap-4 ml-14 left-16">Readmore <img
                            src="../../assets/img/green-arrow.svg" alt=""></p>
                </div>
            </div>

            <!-- img-3 -->
            <div class="relative mb-8">
                <img src="../../assets/img/image 20.svg" alt="">
                <div class="w-[14rem] text-center border absolute bg-[#F5F7FA] px-4 shadow top-36 right-5">
                    <p class="text-gray-500 mb-4 text-sm font-medium ">Revamping the Membership Model with Triathlon
                        Australia</p>
                    <p class="text-green-600 mt-4 font-medium flex gap-4 ml-14">Readmore <img
                            src="../../assets/img/green-arrow.svg" alt=""></p>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col justify-center items-center text-center bg-[#F5F7FA] w-full py-4">
        <h1 class="text-[#4D4D4D]  text-5xl font-medium">Pellentesque suscipit <br> fringilla libero eu.</h1>
        <button class="
        flex border px-6 py-2 border-hidden rounded bg-[#4CAF4F] text-white
        font-normal m-4">Get a Demo <img class="w-3 mt-[0.6rem] ml-2" src="../../assets/img/Vector.svg"
                alt=""></button>
    </section>

    <!-- footer -->
    <section class="flex flex-wrap justify-around bg-[#263238] w-full p-8">

        <!-- left-side -->
        <div class="cursor-pointer">
            <div class="flex items-center mt-4 mb-8">
                <img class="mt-2" src="../../assets/img/Icon.svg" alt="">
                <h1 class=" font-bold text-2xl text-white">Nexcent</h1>
            </div>
            <p class="text-gray-200 mt-1 text-sm font-medium ">Copyright © 2020 Landify UI Kit.</p>
            <p class="text-gray-200 mt-1 text-sm font-medium ">All rights reserved</p>
            <!-- social-media -->
            <div class="flex gap-4 mt-8">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-dribbble"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>

        <!-- right-side -->
        <div class="flex flex-wrap gap-12 mt-7 cursor-pointer">
            <!-- company -->
            <div class="ml-8">
                <h1 class=" font-bold text-2xl text-white">company</h1>
                <ul class="mt-5">
                    <li>About us</li>
                    <li>Blog</li>
                    <li>Contact us</li>
                    <li>Pricing</li>
                    <li>Testimonial</li>
                </ul>
            </div>
            <!-- support -->

            <div class="ml-8">
                <h1 class=" font-bold text-2xl text-white">Support</h1>
                <ul class="mt-5">
                    <li>Help center</li>
                    <li>Terms of service</li>
                    <li>Legal</li>
                    <li>Privacy policy</li>
                    <li>Status</li>
                </ul>
            </div>

            <!-- Stay up -->
            <div class="ml-8">
                <h1 class=" font-bold text-2xl text-white">Stay up to date</h1>
                <input class="outline-none py-2 pl-2 pr-6 mt-4 rounded-md bg-gray-600" type="text"
                    placeholder="Your email address">
            </div>
        </div>
    </section>
</main>